.staticPosition {
    position: static;
}

#staticExample1, #staticExample2, #staticExample3 {
    width: 300px;
    height: 150px;
    top: 50px;
}

#relativePosition {
    position: relative;
    bottom: 150px;
    right: 70px;

}

.fixedPosition {
    position: fixed;
    top: 50px;
    display: flex;
    flex-direction: column;
    right: 150px;
}

nav {
    background-color: rgb(2, 194, 176);
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    top: 10px;
    position: sticky;
}

nav a {
    text-decoration: none;
    padding-right: 55px;
    padding-left: 55px;
}

.absoluteExample {
    padding: 150px;
    background-color: bisque;
    position: absolute;
    top: 170px;
}

.relativeBox {
    padding: 150px;
    background-color: rgb(220, 196, 255);
    position: relative;
    bottom: 250px;
    
}